

/* General body styling */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #cf69ab; /* Background color pink so we can see if it is peaking through*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header and footer styling */
header,footer {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Montserrat", sans-serif;
   background-color: #dcf6ff;
}

/* styling for the header */
header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.spacer {
    height: 100vh; /* Creates an extra blank space for scrolling */
}

/* styling of sky gradient, added the gradient, no z-index*/
.sky {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Defines the container for the images.. not sure exactly how this works 
but I fiddled until it did, aka please do not change anything*/
.container {
    position: relative;
    height: 100vh; /* Adjust size of the area that the images will be contained in*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* hill 3 and hill 2, kept together because they move together but that is not necessary so long as they 
have the same timeline tag "move1" in the js file */
#hill3, #hill2 {
    width: 100%; /* Adjust size */
    align-content: center;
    position: absolute; /* Overlap images according to how they are stacked in the html*/
    z-index: 2; /* Make sure they correctly on top of the other images */
}

/* hill 4 and 5 */
#hill4, #hill5 {
    width: 100%; /* Adjust size */
    height: 100vh;
    top: 10vh; /* Adjust position so that the original image starts lower for js to make it go higher*/
    align-content: center;
    position: absolute; /* Overlap images */
    z-index: 2;
}

#leaf {
    width: 100%; /* Adjust size */
    height: 100vh;
    align-content: center;
    position: absolute; /* Overlap images, if I dont have it the sky disappears? */
    z-index: 2; /* Make sure they are on top of the other images */
}

#hill1 {
    width: 100%; /* Adjust size */
    align-content: center;
    position: absolute; /* Overlap images */
}


